{% extends "map/layout.html" %}{% load staticfiles %}

{% block content %}

<div class="jumbotron ">

    <div class="row">

        <div class="col-md-3  ">
            <div>
                <img class="img-responsive" src='{% static "map/images/logo3.png" %}' alt="Hello Geekahertz" align="center">
            </div>
        </div>
        <div class="col-md-9">
            <h4>The Hello Geekahertz Project</h4>
            <p style="font-size: 12pt">
                The goal of this project is to get as many of our friends <b>(thats you!)</b> as we can to record “hello
                geekahertz” videos around the world.
            </p>
            <p style="font-size: 12pt">
                We will take care of the rest by organizing these videos and their corresponding locations in an easy to view
                format on this web site.
            </p>


            <div class="text-right">
                <button class="btn btn-lg btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="glyphicon glyphicon-info-sign"></span> Help Me</button>
                <a href="/sayhello" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-pushpin"></span> Say Hello</a>
            </div>
        </div>

    </div>

</div>




<div id="map-canvas" class="jumbotron"> </div>
<div id="divError"></div>





<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header ">


                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title " id="mySmallModalLabel">Saying Hello and Shirt Things</h4>

            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <h2><span class="glyphicon glyphicon-facetime-video"></span> Record</h2>
                        Record a video by saying "hello geekahertz" at any point in video.
                    </div>
                    <div class="col-md-4">
                        <h2><span class="glyphicon glyphicon-cloud-upload"></span> Upload</h2>
                        Upload your video to your YouTube account.
                    </div>
                    <div class="col-md-4">
                        <h2><span class="glyphicon glyphicon-pushpin"></span> Say Hello</h2>
                        <a class="active" href="/sayhello"><strong>Say Hello</strong></a> by giving us the YouTube URL and location the video was recorded.
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="/sayhello" class="btn btn-md btn-success"><span class="glyphicon glyphicon-pushpin"></span> Say Hello</a>
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>

            </div>
        </div>
    </div>
</div>


<a class="video-popup" id="popuplink" title="videos from the area">

</a>
{% endblock %}


{% block scripts %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9fe7fwW2cd7dCFqr65ePzn6xOKzJCGCM&sensor=false">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        google.maps.event.addDomListener(window, 'load', initialize);
    });

    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(0, 0),
            zoom: 2,
            scaleControl: true
        };
        var divMapCanvas = $("#map-canvas")[0];
        var map = new google.maps.Map(divMapCanvas, mapOptions);

        var myLatlng = new google.maps.LatLng(-25.363882, 131.044922);
        var marker = new google.maps.Marker({ position: myLatlng});

        // To add the marker to the map, call setMap();
        //marker.setMap(map);

        {% if returnlist %}
            {% for point in returnlist %}
                myLatlng = new google.maps.LatLng({{point.lat}}, {{point.long}} );
                marker = new google.maps.Marker({ position: myLatlng});


          google.maps.event.addListener(marker, "click", function () {
	//Justin, I guess you get you replace this infowindow with some fancy magic. the "nearbyMarkers" function will return an array of video ids
	//I had the infowindow display the array list just so I knew it was working
	var markers = nearbyMarkers({{point.lat}}, {{point.long}}, map.getZoom()).toString();
    $('#popuplink').attr("href", '/map/videopopup/?v='+markers);
    $('#popuplink').attr("title", 'videos and shit');
    $('#popuplink').click();
    /*
     $.magnificPopup.open({
  items: {
    src: '/map/videopopup/?v='+markers
  },
  type: 'iframe',
    gallery: {
            enabled: true
        }
});*/
	

});

marker.setMap(map);


            {% endfor %}
            {% else %}
         $(".divError").show();
        {% endif %}
    }

    //Takes a lat, long, and a map zoom level
    //returns an array of video ids near that lat,long scaled based on the maps zoom level
    //Instead of doing it 'right' makes a  box around the point instead of a circle
    function nearbyMarkers(lat, long, zoomlevel) {
        var pointList = [];//there has to be a better way but I'm going ghetto mutli dimensional array
        var result = [];

        //rough decimal degree delta for 1 kilometer
        var kmLat = 0.008983;
        var kmLong = 0.015060;


        //calculate how much to scale based on zoom level. Maps api says furthest out zoom is 0, most zoomed is 21
        //each change in zoom level doubles, or halves the zoom
        //so this gets ugly fast. if we want a box roughly .5 by .5 meters at zoom 21 our box needs to be 1048.576 by 1048.576 meters at zoom 0
        //This means that our scale off of max zoom (1048.576) should be 1/(2^zoomlevel)
        var scale = 1 / (Math.pow(2,zoomlevel));

        //scale our lat and long deltas
        var latDelta = scale * 1048.576 * kmLat;
        var longDelta = scale * 1048.576 * kmLong;

        //create our lat/long box bounds
        var leftBound = lat - latDelta;
        var rightBound = lat + latDelta;
        var topBound = long + longDelta;
        var bottomBound = long - longDelta;

        //populate the ghetto multi dimensional array the the point values
        {% if returnlist %}
            {% for point in returnlist %}
                pointList[{{forloop.counter0}}] = [{{point.lat}}, {{point.long}}, '{{point.vid}}'];
            {% endfor %}
        {% else %}
            $(".divError").show();
        {% endif %}


        //check all points to see if they fit in the box
        for (var i=0;i<pointList.length;i++)
        {
            //check to see if lat fits within the X bounds
            if(pointList[i][0] > leftBound && pointList[i][0] < rightBound){
                //check to see if the long fits within the Y bounds
                if(pointList[i][1] > bottomBound && pointList[i][1] < topBound){
                    //if I fits I sits
                    result.push(pointList[i][2]);
                 }
            }
        }
        //this is just for troubleshooting scale. not needed
        //result.push('  meters: '+ ((longDelta/kmLong)*1000).toString() + '  kilometers: '+ ((longDelta/kmLong)).toString()) +'"';

        return result;
    }


</script>
{% endblock %}

