{% extends "map/baselayout.html" %}

    {% load staticfiles %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
<img height="100" src='{% static "map/images/logo.png" %}' alt="Hello Geekahertz"></div>
    <p class="lead">The goal of this project is to get as many of our friends (thats you!) as we can to record “hello
        geekahertz” videos around the world.
        We will take care of the rest by organizing these videos and their corresponding locations in an easy to view
        format on this web site.</a>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="mySmallModalLabel">Saying Hello and Shirt Things</h4>
        </div>
     
       
        <ol>
            <li class="text-left">
 Record a video by saying "hello geekahertz" at any point in video. <small>(We prefer "hello geekahertz!" beginning but dont want to restrict your creativity.)</small></li>
<li class="text-left"> Upload it to YouTube</li>
<li><a class="active" href="/map/sayhello">Submit the YouTube URL here.</a></li>

</ol>

   
    </div>
  </div>
</div>


<p class="text-left">
    <button class="btn btn-lg btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Learn How To Say Hello!</button>

        
    </p>   

    </p>


    
</div>
<div class="panel panel-default" style="width: 100%; margin: auto">
        <div class="panel-heading">
            <h3 class="panel-title">Such Geekahertz, Much Hello</h3>
        </div>
        <div class="panel-body">

            <div id="map-canvas"> </div>
            <div id="divError"></div>

        </div>
    </div>
{% endblock %}


{% block scripts %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9fe7fwW2cd7dCFqr65ePzn6xOKzJCGCM&sensor=false">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        google.maps.event.addDomListener(window, 'load', initialize);
    });

    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(0, 0),
            zoom: 2
        };
        var divMapCanvas = $("#map-canvas")[0];
        var map = new google.maps.Map(divMapCanvas, mapOptions);

        var myLatlng = new google.maps.LatLng(-25.363882, 131.044922);
        var marker = new google.maps.Marker({ position: myLatlng});

        // To add the marker to the map, call setMap();
        //marker.setMap(map);

        {% if returnlist %}
            {% for point in returnlist %}
                myLatlng = new google.maps.LatLng({{point.lat}}, {{point.long}} );
                marker = new google.maps.Marker({ position: myLatlng});


            google.maps.event.addListener(marker, "click", function () {
                bubble = new google.maps.InfoWindow({
                    content: '<iframe title="YouTube video player" class="youtube-player" type="text/html" width="480" height="390" src="http://www.youtube.com/embed/{{ point.vid }}?rel=0" frameborder="0"></iframe>'
                })
                bubble.open(map, marker);
            })
            marker.setMap(map);
            {% endfor %}
            {% else %}
         $(".divError").show();
        {% endif %}
    }


</script>
{% endblock %}

