{% extends "map/baselayout.html" %}

{% block content %}
<form action="/map/sayhello/" method="post">{% csrf_token %}


 {{ form.non_field_errors }}

    <div style="margin: 10px 0px">

        <div class="panel panel-default" style="width: 100%; margin: auto">
            <div class="panel-heading">
                <h3 class="panel-title">Tell us about your video</h3>



            </div>
            <div class="panel-body" style="padding: 15px;">


                <div class="fieldWrapper form-group">
                    {{ form.full_url.errors }}
                    <label for="id_full_url" class="control-label">YouTube URL</label>
                    {{ form.full_url }}
                    <span class="help-block">
                    E.g. http://www.youtube.com/watch?v=oHg5SJYRHA0.
                    </span>
                </div>
                <div class="fieldWrapper form-group">

<label for="id_address" class="control-label"> Video Location</label>
                        <div class="input-group">
                            {{ form.address }}
                           <span class="input-group-btn"> <button id="btnSearch" type="button" class="btn btn-primary" >
                               <span class="glyphicon glyphicon-search"></span> Go!
                           </button></span>
                        </div>

                            <span class="help-block">Search for an address then drag the marker below to adjust the location.</span>

                </div>
                <div style="visibility: hidden">
                    <div class="fieldWrapper">
                        {{ form.lat }}
                    </div>
                    <div class="fieldWrapper ">
                        {{ form.long }}
                    </div>
                </div>
                <input type="submit" value="Send Hello!" class="btn btn-primary btn-lg"/>
            </div>
        </div>
    </div>

    <div style="margin: 10px 0px">

        <div class="panel panel-default" style="width: 100%; margin: auto">
            <div class="panel-heading">
                <h3 class="panel-title">Drag the marker below to adjust the location</h3>



            </div>
            <div class="panel-body">

                <div id="map-canvas"/>


            </div>
        </div>
    </div>

</form>

{% endblock %}

{% block scripts %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {


        var map = null;
        var geocoder = null;
        initialize();
        var loadCurrentAddress = showAddress($("#id_address").val());
        loadCurrentAddress;
        $(window).unload(function () {
            GUnload();
        });

        $("#btnSearch").click(function () {
            loadCurrentAddress;
        });
    });


    function initialize() {
        if (GBrowserIsCompatible()) {
            var mapOptions = {
                center: new google.maps.LatLng(0, 0),
                zoom: 2
            };
            var divMapCanvas = $("#map-canvas")[0];
            map = new GMap2(divMapCanvas, mapOptions);
            map.setCenter(new GLatLng(37.4419, -122.1419), 2);
            map.setUIToDefault();
            geocoder = new GClientGeocoder();
        }
    }

    function showAddress(address) {
        if (geocoder) {
            geocoder.getLatLng(
                    address,
                    function (point) {
                        if (!point) {
                            alert(address + " not found");
                        } else {
                            map.setCenter(point, 4);
                            var marker = new GMarker(point, {draggable: true});
                            map.addOverlay(marker);
                            GEvent.addListener(marker, "dragend", function () {

                                LatLongArr = marker.getLatLng().toString().split(",")
                                LatLongArr[0] = LatLongArr[0].replace(/[() ]/g, '');
                                LatLongArr[1] = LatLongArr[1].replace(/[() ]/g, '');
                                var textbox = document.getElementsByName('lat')[0]
                                textbox.value = LatLongArr[0];
                                textbox = document.getElementsByName('long')[0]
                                textbox.value = LatLongArr[1];
                            });
                            GEvent.addListener(marker, "click", function () {

                                LatLongArr = marker.getLatLng().toString().split(",")
                                LatLongArr[0] = LatLongArr[0].replace(/[() ]/g, '');
                                LatLongArr[1] = LatLongArr[1].replace(/[() ]/g, '');
                                var textbox = document.getElementsByName('lat')[0]
                                textbox.value = LatLongArr[0];
                                textbox = document.getElementsByName('long')[0]
                                textbox.value = LatLongArr[1];
                            });
                            GEvent.trigger(marker, "click");
                        }
                    }
            );
        }
    }
</script>

{% endblock %}








