{% extends "map/baselayout.html" %}

{% block content %}
<form action="/map/sayhello/" method="post">{% csrf_token %}


 {{ form.non_field_errors }}

    <div >
<div style="padding: 10px 0 10px 0">
        <div class="row">
            <div class="col-md-12">
            <button type="submit"  class="btn btn-primary btn-md"> <span class="glyphicon glyphicon-pushpin"></span> Save</button>
            <button type="submit"  class="btn btn-default btn-md">  Cancel</button>
            </div>
</div>
</div>
		<div class="panel panel-default" style="width: 100%; margin: auto">
			<div class="panel-heading">

				<h3 class="panel-title">Tell us about your video</h3>



			</div>
			<div class="panel-body" style="padding: 15px;">

<div class="row">
<div class="col-md-6"> 

					<label for="id_full_url" class="control-label">YouTube URL</label>
					{{ form.full_url }}
{{ form.full_url.errors }}
					<span class="help-block">
					<small>E.g. http://www.youtube.com/watch?v=oHg5SJYRHA0 </small>
					</span>

<div id="divVideo"></div>
</div>
<div class="col-md-6"> 

<label for="id_address" class="control-label"> Video Location</label>

						<div class="input-group">
							{{ form.address }}
						   <span class="input-group-btn"> <button id="btnSearch" type="button" class="btn btn-primary" >
							   <span class="glyphicon glyphicon-search"></span> Search
						   </button></span>
						</div>

							<span class="help-block"><small>Search for an address then drag the marker below to adjust the location.</small></span>



				<div id="map-canvas" class="jumbotron" />


			
</div>
</div>
				<div class="fieldWrapper form-group">
					
				</div>
				<div class="fieldWrapper form-group">

				</div>
				<div style="visibility: hidden">
					<div class="fieldWrapper">
						{{ form.lat }}
					</div>
					<div class="fieldWrapper ">
						{{ form.long }}
					</div>
				</div>
			
			</div>
		</div>
	</div>

    <div style="margin: 10px 0px">

        
    </div>

</form>

{% endblock %}

{% block scripts %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {


        var map = null;
        var geocoder = null;
        initialize();
        showAddress($("#id_address").val());
        
        $(window).unload(function () {
            GUnload();
        });

        $("#btnSearch").click(function (e) {
           
           showAddress($("#id_address").val());
        });

    $("#id_full_url").change(function(){
        var videoId = youtube_parser($(this).val());
        $("#divVideo").html("<iframe width='100%' height='315' src='//www.youtube.com/embed/"+videoId+"' frameborder='0' allowfullscreen></iframe>");
    });


    });

function youtube_parser(url){
   var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
var match = url.match(regExp);
if (match&&match[2].length==11){
    return match[2];
}else{
        alert("Your video is broke");
    }
}

    function initialize() {
        if (GBrowserIsCompatible()) {
            var mapOptions = {
                center: new google.maps.LatLng(0, 0),
                zoom: 2
            };
            var divMapCanvas = $("#map-canvas")[0];
            map = new GMap2(divMapCanvas, mapOptions);
            map.setCenter(new GLatLng(37.4419, -122.1419), 2);
            map.setUIToDefault();
            geocoder = new GClientGeocoder();
        }
    }

    function showAddress(address) {
        if (geocoder) {
            map.clearOverlays();
            geocoder.getLatLng(
                    address,
                    function (point) {
                        if (!point) {
                            alert(address + " not found");
                        } else {
                            map.setCenter(point, 4);
                            var marker = new GMarker(point, {draggable: true});
                            map.addOverlay(marker);
                            GEvent.addListener(marker, "dragend", function () {

                                LatLongArr = marker.getLatLng().toString().split(",")
                                LatLongArr[0] = LatLongArr[0].replace(/[() ]/g, '');
                                LatLongArr[1] = LatLongArr[1].replace(/[() ]/g, '');
                                var textbox = document.getElementsByName('lat')[0]
                                textbox.value = LatLongArr[0];
                                textbox = document.getElementsByName('long')[0]
                                textbox.value = LatLongArr[1];
                            });
                            GEvent.addListener(marker, "click", function () {

                                LatLongArr = marker.getLatLng().toString().split(",")
                                LatLongArr[0] = LatLongArr[0].replace(/[() ]/g, '');
                                LatLongArr[1] = LatLongArr[1].replace(/[() ]/g, '');
                                var textbox = document.getElementsByName('lat')[0]
                                textbox.value = LatLongArr[0];
                                textbox = document.getElementsByName('long')[0]
                                textbox.value = LatLongArr[1];
                            });
                            GEvent.trigger(marker, "click");
                        }
                    }
            );
        }
    }
</script>

{% endblock %}








