{% extends "map/layout.html" %}{% load staticfiles %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3> Hello Videos</h3>
        </div>
    </div>

    <div class="row ">

        <div class="col-md-12">{% if fulllist %}
            <div>Total videos: {{fulllist.count}}</div>
            
            </div>{% for point in fulllist %}
            <div class='video-thumb'>
                <a class='video' href='http://www.youtube.com/watch?v={{point.vid}}'><img class='img-responsive' src='http://img.youtube.com/vi/{{point.vid}}/1.jpg'></a>
            </div>{% endfor %}

{% endif %}

        </div>


    </div>


{% endblock %}

{% block scripts %}

{% endblock %}








