{% extends "map/baselayout.html" %}

{% block menubar %}
{% endblock %}

{% block body %}
<div class="video-detail-body">

<div class="row">
    <div class="col-md-12">
  
        </div></div>

<div class="row ">
    <div class="col-md-10  ">
     
        {% if returnlist %}
          


         {% for point in returnlist %}
    <div class='video-thumb'>
        <a class='video' href='http://www.youtube.com/watch?v={{point}}'><img class='img-responsive' src='http://img.youtube.com/vi/{{point}}/1.jpg'></a>
    </div>{% endfor %}
        
{% endif %}
            

        

           
    <div style="clear:both"></div>
       
    </div>
</div>


    </div>
{% endblock %}

{% block scripts %}

{% endblock %}








