<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9fe7fwW2cd7dCFqr65ePzn6xOKzJCGCM&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(0,0),
          zoom: 2
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

                  var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
        var marker = new google.maps.Marker({ position: myLatlng});

        // To add the marker to the map, call setMap();
        //marker.setMap(map);

       {% if returnlist %}
            {% for point in returnlist %}
                myLatlng = new google.maps.LatLng({{ point.lat }},{{ point.long }});
                marker = new google.maps.Marker({ position: myLatlng});


          google.maps.event.addListener(marker, "click", function(){
                   bubble = new google.maps.InfoWindow({
          content: '<iframe title="YouTube video player" class="youtube-player" type="text/html" width="480" height="390" src="http://www.youtube.com/embed/{{ point.vid }}?rel=0" frameborder="0"></iframe>'
                })
            bubble.open(map, marker);
             })
            marker.setMap(map);
            {% endfor %}
        {% else %}
            <p>Something is wrong.</p>
        {% endif %}
      }
      google.maps.event.addDomListener(window, 'load', initialize);




    </script>
  </head>
  <body>
    Everything you put here <b>WILL</b> be lost.
    <H2><a href="/map/sayhello">Say Hello!</a></H2>
    <div id="map-canvas"/>
  </body>
</html>

