
<!DOCTYPE html >

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Say Hello</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw"
      type="text/javascript"></script>
    <script type="text/javascript">

    var map = null;
    var geocoder = null;

    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(37.4419, -122.1419), 1);
        map.setUIToDefault();
        geocoder = new GClientGeocoder();
      }
    }

    function showAddress(address) {
      if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert(address + " not found");
            } else {
              map.setCenter(point, 15);
              var marker = new GMarker(point, {draggable: true});
              map.addOverlay(marker);
              GEvent.addListener(marker, "dragend", function() {

                LatLongArr = marker.getLatLng().toString().split(",")
                LatLongArr[0] = LatLongArr[0].replace(/[() ]/g,'');
                LatLongArr[1] = LatLongArr[1].replace(/[() ]/g,'');
                var textbox = document.getElementsByName('lat')[0]
                textbox.value = LatLongArr[0];
               textbox = document.getElementsByName('long')[0]
                textbox.value = LatLongArr[1];
              });
              GEvent.addListener(marker, "click", function() {

                LatLongArr = marker.getLatLng().toString().split(",")
                LatLongArr[0] = LatLongArr[0].replace(/[() ]/g,'');
                LatLongArr[1] = LatLongArr[1].replace(/[() ]/g,'');
                var textbox = document.getElementsByName('lat')[0]
                textbox.value = LatLongArr[0];
               textbox = document.getElementsByName('long')[0]
                textbox.value = LatLongArr[1];
              });
	      GEvent.trigger(marker, "click");
            }
          }
        );
      }
    }
    </script>
  </head>

  <body onload="initialize()" onunload="GUnload()">
    <form action="#" onsubmit="showAddress(this.address.value); return false">
      <p>
        Enter an address, and then drag the marker to tweak the location.
        <br/>
        If you don't do this, it won't work. 
      </p>
      <p>
        <input type="text" style="width:350px" name="address" value="" />
        <input type="submit" value="Go!" />
      </p>
      <div id="map_canvas" style="width: 600px; height: 400px"></div>

    </form>

<form action="/map/sayhello/" method="post">{% csrf_token %}
    Put the youtube Video ID here. It's the part like this: http://www.youtube.com/watch?v=<b>oHg5SJYRHA0</b>
	<div class="fieldWrapper">
        {{ form.vid.errors }}
        <label for="id_vid">Youtube Video ID:</label>
        {{ form.vid }}
    </div>
    <div class="fieldWrapper">
        {{ form.lat.errors }}
        {{ form.lat }}
    </div>
    <div class="fieldWrapper">
        {{ form.long.errors }}
        {{ form.long }}
    </div>
    <p><input type="submit" value="Send Hello!" /></p>
</form>

  </body>
</html>
